.selectedPage {
    font-weight: bold;
    color: red;
    font-size: 18px;
    text-decoration: underline;
 }

    .paginator {
        margin: 10px;
    }
    .pageNumber {
        padding: 2px;
        border: 1px solid grey;
    }
    
    .pageNumber.selectedPage {
        font-weight: bold;
        border-color: black;
    } 