.positionPaginator {
    text-align: center;
    margin-right: 150px;
}
.item {
    color: black;
    font-weight: bold;
    font-family: 'Comic Sans MS';
    font-size: 18px;
    padding: 20px;
    margin-right: 350px;
}

.item img {
    width: 150px;
    height: 150px;
    border: 5px solid #4a76a8;
    border-radius: 85px 85px 85px 85px;
    margin-top: -35px;
}

