.content {
    display: grid;
    grid-template-rows: 100px 5fr;
    grid-gap: 1em;
}

.blok1 {
    border: 2px solid black;
    border-radius: 20px 20px 20px 20px; 
    background-color: white;
}
.b_position {
margin: 18px;
}

.block2{
    border: 2px solid black;
    border-radius: 20px 20px 20px 20px; 
    background-color:  white;
}
.content textarea {
    resize: none;
    height: 25px;
    width: 650px;
    background:white;
    font-size: 12px;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border: 3px solid #2b2521;
    border-radius: 10px 10px 10px 10px;
}


