.item {
    font-size: 20px;
    color: red;
    font-weight:bold;
    font-family: 'Comic Sans MS';
    display: flex;
    align-items:center;
    margin-left: 16px;
}
.item img {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    padding: 5px;   
    }