.blok {
    padding: 10px;
    text-align: justify;
    border: 5px solid black;
    border-radius: 100px 100px 100px 5px;
    margin-bottom: 15px;
    background-color: white;
    margin-left: 145px;
}

.fullname {
    font-size: 25px;
    margin-left: 175px;
}

.status {
    margin-left: 180px;
}

.follow {
    margin-left: 20px;
}
