.header {
    grid-area: h;
    border: 5px solid black;
    border-radius: 20px 20px 20px 20px;
    background-image: url(../../Images/header.jpg);
    background-size: 100% 100%;
    margin: 10px;

}

.Zimg {
    width: 450px;
    height: 350px;
    margin-top: -135px;
    margin-left: 35px;
}

.pLine1 {
    margin-top: -185px;
}

.pLine2 {
    margin-top: 30px;
}

.loginBlock_auth {
    height: 100px ;
    width: auto;
    border: 5px solid black;
    border-radius: 10px 10px 10px 10px;
    background: whitesmoke; 
    float: right; 
    font-weight: bolder;
    font-size: 25px;
    color: black;
    margin-top: -82.5px;
    margin-right: 25px; 
    text-align: center;
}

.NotloginBlock_auth {}

.auth_name {
    background: white;
    width: auto; 
}
.auth_photo {
    background: burlywood;
    height: 67px;
    width: 90px;
    border-radius: 10px 10px 10px 10px;
    border: 2px solid black;   
}
.logaut_Btn {
    margin-top: -30px;
}


