.navigation {
    grid-area: n; 
    height: 465px;
    border: 5px solid black;
    border-radius: 20px 20px 20px 20px; 
    margin:10px;
    background-color: white;
}
.navigation img {
    vertical-align: middle;
    width: 60px;
    height: 60px;
    padding: 6px;
    margin: 2px;
  }
.menu a {
    color: black;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none; 
}
