.content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 1em;
   
}
.content img {
    border: 5px solid black;
    border-radius: 5% 5% 5% 5%;
    width: 200px;
    height: 200px;
    margin-top: 20px;
}

.block1 {
    border: 2px solid black;
    border-radius: 20px 20px 20px 20px;
    background-color:white;
    height: 300px;
    width: 300px;
}
.block2 {  
}

.contentInfo {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-gap: 1em;   
}
.contentInfo_block1 {
    color: black;
    font-weight: bolder;
    font-family: 'Comic Sans MS';
    font-size: 25px;
    border: 2px solid black;
    border-radius: 20px 20px 20px 20px; 
    background-color: white;
    padding: 10px;
}
.contentInfo_block2{
    color: black;
    font-weight: bolder;
    font-family: 'Comic Sans MS';
    font-size: 20px;
    text-align: left;
    padding: 25px;
    border: 2px solid black;
    border-radius: 20px 20px 20px 20px; 
    background-color: white;
}
