.item {
    display: flex;
}
.item img {
    width: 50px;
    height: 50px;
    border: 3px solid black;
    border-radius: 50% 50% 50% 50%;
    padding: 5px;
    margin: 10px;
}

.textPost {
    color: black;
    font-weight: bold;
    font-family: 'Comic Sans MS';
    font-size: 18px;
    text-align: justify;
    margin-top: 15px;
}