.app-INwires {
  margin: 0 auto;
  display: grid;
  width: 1600px;

  grid-template-areas:
    "h h"
    "n c";

  grid-template-rows: 145px;
  grid-template-columns: 300px 1300px;
}
.app-INwires-content {
  grid-area: c;
  background-color:#ecf7fc;
  margin:10px;
}
