.content {
    display: grid;
    grid-template-columns: 200px 3fr;
    grid-gap:1em;
}
.content textarea {
    resize: none;
    height: 20px;
    width: 400px;
    background: whitesmoke;
    font-size: 12px;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border: 3px solid #2b2521;
    border-radius: 10px 10px 10px 10px;
}

.block1{
    color: black;
    font-size: 16px;
    font-weight: bolder;
    padding: 10px;
    background-color:  white;
    border: 2px solid black;
    border-radius: 20px 20px 20px 20px;
    
}
.block2{
    padding: 10px;
    background-color:white;
    border: 2px solid black;
    border-radius: 20px 20px 20px 20px;
}

.dialogsItems .active {
    color: red
}
